<td class="item-name">
    <div class="item-image">
        <a  routerLink ="/product/{{product.id}}" >
            <img [src]="product.mainImg"  [alt]="product.name">
        </a>
    </div>
    <div class="item-title">
        <a routerLink ="/product/{{product.id}}">
            <span class="item-name" >{{product.name}}</span>
        </a>
    </div>
</td>
<td class="item-price" rv-html="item.price | money"><span class="money" >{{product.price | currency:'USD': true}}</span></td>
<td class="item-qty">
    <div class="quantity">
        <input [(ngModel)]="product.quantityInCart">
        <span class="qty-wrapper">
                    <span class="qty-inner">

                      <span (click)="incrementQuantity()">
                        <i class="fa fa-plus"></i>
                      </span>

                      <span (click)="decrementQuantity()">
                        <i class="fa fa-minus"></i>
                      </span>

                    </span>
                  </span>

    </div>
</td>
<td class="item-total" ><span class="money" >{{itemPriceTotal | currency:'USD': true }}</span></td>
<td class="action"><button type="button" (click)="removeItem()"><span class="cart-remove-icon"></span></button></td>
