                          <div class="product-review">
                            <span class="spr-badge" id="spr_badge_7680797507" data-rating="1.3333333333333335">
                              <span class="spr-starrating spr-badge-starrating">
                              <i class="spr-icon spr-icon-star" style="" 
                              *ngFor="let greenStar of greenStarCount"></i>
                              <i class="spr-icon spr-icon-star-empty" 
								*ngFor="let grayStar of grayStarCount"
                              style=""></i></span>
                            <span class="spr-badge-caption">3 reviews</span></span>
                          </div>
