<h3>Admin</h3>
<a routerLink="/products">Return to shop!</a>
<nav>
    <ul class="nav nav-tabs">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="./">Dashboard</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="./products">Manage Products</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="./categories">Manage Categories</a>
        </li>
    </ul>
</nav>
<ul>
    <li *ngFor="let item of items | async">
        {{ item | json }}
    </li>
</ul>
<button (click)="save()">Save</button>
<router-outlet></router-outlet>
