<h3>Admin</h3>
<a routerLink="/products">Return to shop!</a>
<nav>
    <ul class="nav nav-tabs">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="./">Dashboard</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="./products">Manage Products</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="./categories/list">Manage Categories</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
