<td class="item-name">
    <div class="item-image">
        <a  routerLink ="/product/{{product.id}}" >
            <img [src]="product.mainImg"  [alt]="product.name">
        </a>
    </div>
    <div class="item-title">
        <a routerLink ="/product/{{product.id}}">
            <span class="item-name" >{{product.name}}</span>
        </a>
    </div>
</td>
<td class="item-price"><span class="money" >{{product.price | currency:'USD': true}}</span></td>
<td class="item-qty">
    <div class="quantity">
        <input [(ngModel)]="product.quantityInCart" disabled>
    </div>
</td>
<td class="item-total" ><span class="money" >{{itemPriceTotal | currency:'USD': true }}</span></td>

