<ul>
  <li *ngFor="let category of categories | async">
    <app-category-item [categoryObj]="category"></app-category-item>
  </li>
  <!--<li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/decor-art.png?3417794890851504925" alt="">
    <a href="/collections/decor-art">Decor Art</a>
    <span>(9)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/every-day.png?3417794890851504925" alt="">
    <a href="/collections/every-day">Every Day</a>
    <span>(5)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/furniture.png?3417794890851504925" alt="">
    <a href="/collections/furniture">Furniture</a>
    <span>(8)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/illumination.png?3417794890851504925" alt="">
    <a href="/collections/illumination">Illumination</a>
    <span>(14)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/kitchen-things.png?3417794890851504925" alt="">
    <a href="/collections/kitchen-things">Kitchen Things</a>
    <span>(10)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/party.png?3417794890851504925" alt="">
    <a href="/collections/party">Party</a>
    <span>(8)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/personal.png?3417794890851504925" alt="">
    <a href="/collections/personal">Personal</a>
    <span>(2)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/romantic.png?3417794890851504925" alt="">
    <a href="/collections/romantic">Romantic</a>
    <span>(1)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/special-goods.png?3417794890851504925" alt="">
    <a href="/collections/special-goods">Special Goods</a>
    <span>(6)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/toys.png?3417794890851504925" alt="">
    <a href="/collections/toys">Toys</a>
    <span>(4)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/variables.png?3417794890851504925" alt="">
    <a href="/collections/variables">Variables</a>
    <span>(5)</span>
  </li>
  <li>
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/vintage.png?3417794890851504925" alt="">
    <a href="/collections/vintage">Vintage</a>
    <span>(11)</span>
  </li>-->
</ul>
