<div class="col-md-9">
  <div id="col-main">
    <h1>Birthday Gifts</h1>
    <div class="cata-toolbar">
      <div class="group-toolbar">
        <div class="pagination-showing">
          Showing 1 - 12 of 17 Products
        </div>
        <div class="sort-by">
          <div class="sort-by-inner">
            <div id="cata_sort_by" class="dropdown-toggle" data-toggle="dropdown">
              <button id="sort_by_button">
                <span class="name"><a href="javascript:;">Featured</a></span>
                <i class="fa fa-caret-down"></i>
              </button>
            </div>
            <ul id="sort_by_box" class="dropdown-menu">
              <li class="sort-action title-ascending" data-sort="title-ascending"><a href="javascript:;">Name, A-Z</a></li>
              <li class="sort-action title-descending" data-sort="title-descending"><a href="javascript:;">Name, Z-A</a></li>
              <li class="sort-action manual active" data-sort="manual"><a href="javascript:;">Featured</a></li>
              <li class="sort-action price-ascending" data-sort="price-ascending"><a href="javascript:;">Price, Low To High</a></li>
              <li class="sort-action price-descending" data-sort="price-descending"><a href="javascript:;">Price, High To Low</a></li>
              <li class="sort-action created-ascending" data-sort="created-ascending"><a href="javascript:;">Date, Old To New</a></li>
              <li class="sort-action created-descending" data-sort="created-descending"><a href="javascript:;">Date, New To Old</a></li>
              <li class="sort-action best-selling" data-sort="best-selling"><a href="javascript:;">Best Selling</a></li>
            </ul>

          </div>
        </div>
        <div class="group-gl">
          <ul class="list-inline">
            <li class="grid-list">
              <span class="grid active" title="Grid"><i class="fa fa-th-large"></i>Grid</span>
              <span class="list" title="List"><i class="fa fa-th-list"></i>List</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="filter-wrapper">
      <h4 class="sb-title">Filter</h4>
      <div class="filter-by-group">
        <div class="grid-uniform">
          <div class="sb-filter brand" id="filter-1">
            <div class="sbf-title dropdown-toggle" data-toggle="dropdown"><a href="javascript:;">Brand</a></div>
            <ul class="advanced-filters dropdown-menu">
              <li class="advanced-filter rt" data-group="Brand">
                <a href="/collections/birthday-gifts/brand_accesi" data-title="Narrow selection to products matching tag Brand_Accesi">Accesi</a>
              </li>
              <li class="advanced-filter rt" data-group="Brand">
                <a href="/collections/birthday-gifts/brand_bikis" data-title="Narrow selection to products matching tag Brand_Bikis">Bikis</a>
              </li>
              <li class="advanced-filter rt" data-group="Brand">
                <a href="/collections/birthday-gifts/brand_elle" data-title="Narrow selection to products matching tag Brand_Elle">Elle</a>
              </li>
              <li class="advanced-filter rt" data-group="Brand">
                <a href="/collections/birthday-gifts/brand_godo" data-title="Narrow selection to products matching tag Brand_Godo">Godo</a>
              </li>
              <li class="advanced-filter rt" data-group="Brand">
                <a href="/collections/birthday-gifts/brand_jeana" data-title="Narrow selection to products matching tag Brand_Jeana">Jeana</a>
              </li>
              <li class="advanced-filter rt" data-group="Brand">
                <a href="/collections/birthday-gifts/brand_ladora" data-title="Narrow selection to products matching tag Brand_Ladora">Ladora</a>
              </li>
            </ul>
          </div>
          <div class="sb-filter color" id="filter-2">
            <div class="sbf-title dropdown-toggle" data-toggle="dropdown"><a href="javascript:;">Color</a></div>
            <ul class="advanced-filters dropdown-menu list-inline afs-color">
              <li class="advanced-filter af-color" data-group="Color" style="background-color:black; background-image: url(//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/black.png?3417794890851504925);">
                <a title="Black" href="/collections/birthday-gifts/color_black"></a>
              </li>
              <li class="advanced-filter af-color" data-group="Color" style="background-color:blue; background-image: url(//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/blue.png?3417794890851504925);">
                <a title="Blue" href="/collections/birthday-gifts/color_blue"></a>
              </li>
              <li class="advanced-filter af-color" data-group="Color" style="background-color:brown; background-image: url(//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/brown.png?3417794890851504925);">
                <a title="Brown" href="/collections/birthday-gifts/color_brown"></a>
              </li>
              <li class="advanced-filter af-color" data-group="Color" style="background-color:grey; background-image: url(//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/grey.png?3417794890851504925);">
                <a title="Grey" href="/collections/birthday-gifts/color_grey"></a>
              </li>
              <li class="advanced-filter af-color" data-group="Color" style="background-color:pink; background-image: url(//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/pink.png?3417794890851504925);">
                <a title="Pink" href="/collections/birthday-gifts/color_pink"></a>
              </li>
              <li class="advanced-filter af-color" data-group="Color" style="background-color:red; background-image: url(//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/red.png?3417794890851504925);">
                <a title="Red" href="/collections/birthday-gifts/color_red"></a>
              </li>
              <li class="advanced-filter af-color" data-group="Color" style="background-color:white; background-image: url(//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/white.png?3417794890851504925);">
                <a title="White" href="/collections/birthday-gifts/color_white"></a>
              </li>
              <li class="advanced-filter af-color" data-group="Color" style="background-color:yellow; background-image: url(//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/yellow.png?3417794890851504925);">
                <a title="Yellow" href="/collections/birthday-gifts/color_yellow"></a>
              </li>
            </ul>
          </div>
          <div class="sb-filter price" id="filter-3">
            <div class="sbf-title dropdown-toggle" data-toggle="dropdown"><a href="javascript:;">Price</a></div>
            <ul class="advanced-filters dropdown-menu">
              <li class="advanced-filter rt" data-group="Price">
                <a href="/collections/birthday-gifts/price_-100-300" data-title="Narrow selection to products matching tag Price_$100-$300">$100-$300</a>
              </li>
              <li class="advanced-filter rt" data-group="Price">
                <a href="/collections/birthday-gifts/price_above-300" data-title="Narrow selection to products matching tag Price_Above $300">Above $300</a>
              </li>
              <li class="advanced-filter rt" data-group="Price">
                <a href="/collections/birthday-gifts/price_under-100" data-title="Narrow selection to products matching tag Price_Under $100">Under $100</a>
              </li>
            </ul>
          </div>
          <div class="sb-filter size" id="filter-4">
            <div class="sbf-title dropdown-toggle" data-toggle="dropdown"><a href="javascript:;">Size</a></div>
            <ul class="advanced-filters dropdown-menu">
              <li class="advanced-filter rt" data-group="Size">
                <a href="/collections/birthday-gifts/size_l" data-title="Narrow selection to products matching tag Size_L">L</a>
              </li>
              <li class="advanced-filter rt" data-group="Size">
                <a href="/collections/birthday-gifts/size_m" data-title="Narrow selection to products matching tag Size_M">M</a>
              </li>
              <li class="advanced-filter rt" data-group="Size">
                <a href="/collections/birthday-gifts/size_x" data-title="Narrow selection to products matching tag Size_X">X</a>
              </li>
              <li class="advanced-filter rt" data-group="Size">
                <a href="/collections/birthday-gifts/size_xl" data-title="Narrow selection to products matching tag Size_XL">XL</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-products></app-products>
    <div class="pagination-holder">
      <ul class="pagination">
        <li>
          <a class="prev disabled" href="javascript:;">
            Previous
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="/collections/birthday-gifts?page=2">2</a></li>
        <li>
          <a href="/collections/birthday-gifts?page=2" title="Next" class="next">
            Next
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
