<div class="product col-md-9">
    <div class="row">

        <!-- Begin #product-image -->

        <div id="product-image" class="col-sm-12 col-md-6 product-image">
            <div class="product-image-inner row">


                <a href="//cdn.shopify.com/s/files/1/1402/6971/products/010_1024x1024.jpg?v=1469433423"
                   class="featured-image elevatezoom">
                    <img id="product-featured-image" class="magniflier zoom-image"
                         src="{{productImg}}"
                         data-zoom-image="//cdn.shopify.com/s/files/1/1402/6971/products/010_1024x1024.jpg?v=1469433423"
                         alt="Coneco Product Sample">
                </a>

                <div class="more-view-image">
                    <ul id="gallery-image" class="gallery-image-thumb owl-carousel owl-theme owl-loaded">
                    </ul>
                </div>


            </div>
        </div>

        <!-- End #product-image /- -->


        <!-- Begin #product-info -->

        <div id="product-info" class="col-sm-12 col-md-6 product-info">

            <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">

                <h1 itemprop="name" content="Coneco Product Sample" class="page-heading">{{name}}</h1>
                <meta itemprop="priceCurrency" content="USD">

              <app-product-review [star]="raiting"></app-product-review>


              <div class="detail-price" itemprop="price">
                <del class="price-compare" *ngIf="basePrice">
                  <span class="money" data-currency-usd="$150.00" data-currency="USD">${{basePrice}}</span>
                </del><span class="price-sale">
                <span class="money" data-currency-usd="$120.00" data-currency="USD">${{price}}</span>
              </span></div>


                <link itemprop="availability" href="http://schema.org/InStock">


                <div class="detail-deal"></div>

                <div class="short-description"><h5><span>Description</span></h5>
                    <p>{{description}}
                    </p>
                </div>


                <button type="button" class="btn add-to-wishlist"
                        title="Add to wishlist"><span>Add to wishlist</span>
                </button>

                <div class="product-availability-wrapper">
                    <ul class="list-unstyled">


                        <li>
                            <span>Sold By:</span>
                            <a href="/collections/vendors?q=Christian%20Dior" title="Christian Dior">Christian Dior</a>
                        </li>


                        <li class="product-sku" style="display:none;">
                            <span>Product Sku:</span>
                            <span id="sku"></span>
                        </li>


                        <li>
                            <span>Categories</span>

                            <a href="/collections/decor-art">Decor Art</a>,

                            <a href="/collections/party">Party</a>

                        </li>


                        <li>
                            <span>Type:</span>
                            <a href="/collections/types?q=Classic" title="Classic">Classic</a>
                        </li>


                    </ul>
                </div>


                <div class="share-links social-sharing"
                     data-permalink="https://handy-theme-02.myshopify.com/products/coneco-product-sample">


                    <ul class="list-inline">


                        <li>
                            <a target="_blank"
                               href="//www.facebook.com/sharer.php?u=https://handy-theme-02.myshopify.com/products/coneco-product-sample"
                               title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>


                        <li>
                            <a target="_blank"
                               href="//twitter.com/share?url=https://handy-theme-02.myshopify.com/products/coneco-product-sample&amp;text=coneco-product-sample"
                               title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>


                        <li>
                            <a target="_blank"
                               href="//pinterest.com/pin/create/button/?url=https://handy-theme-02.myshopify.com/products/coneco-product-sample&amp;media=http://cdn.shopify.com/s/files/1/1402/6971/products/010_1024x1024.jpg?v=1469433423&amp;description=Coneco Product Sample"
                               class="share-pinterest">
                                <i class="fa fa-pinterest" title="Share an image of this article on Pinterest"></i>
                            </a>
                        </li>


                        <li>
                            <a target="_blank"
                               href="//plus.google.com/share?url=https://handy-theme-02.myshopify.com/products/coneco-product-sample"
                               title="Google">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>


                    </ul>

                </div>


                <!-- endif product.avaiable /- -->

            </div>

        </div>

        <!-- End #product-info /- -->

    </div>


    <!-- End ################################################################################### /- -->
    <div class="row">
        <div class="product-simple-tab">
            <div role="tabpanel">

                <ul class="nav nav-tabs" role="tablist">


                    <li role="presentation" class="active"><a href="#tabs-2" aria-controls="tabs-2" role="tab"
                                                              data-toggle="tab">Description</a>
                    </li>


                    <li role="presentation"><a href="#tabs-3" aria-controls="tabs-3" role="tab" data-toggle="tab">Specifications</a>
                    </li>


                    <li role="presentation"><a href="#tabs-4" aria-controls="tabs-4" role="tab"
                                               data-toggle="tab">Video</a></li>


                    <li role="presentation" id="tab_review_tabbed"><a href="#tab_review" aria-controls="tab_review"
                                                                      role="tab"
                                                                      data-toggle="tab">Reviews</a></li>

                </ul>

                <div class="tab-content">


                    <div role="tabpanel" class="tab-pane active" id="tabs-2">

                        <p><span>Our new </span><b>HPB12 / A12</b><b> battery</b><span> is rated at 2000mAh and designed to power up Black and Decker / FireStorm line of 12V tools allowing users to run multiple devices off the same battery pack. The HPB12 is compatible with the following Black and Decker power tool models: </span><br><br><b>Black
                            &amp; Decker Drills and Drivers:<br></b><span>BD12PSK, BDG1200K, BDGL12K, BDID1202, CD1200SK, CD12SFK, CDC1200K, CDC120AK, CDC120ASB, CP122K, CP122KB, CP12K, CP12KB, EPC12, EPC126, EPC126BK, EPC12CA, EPC12CABK, HP122K, HP122KD, HP126F2B, HP126F2K, HP126F3B, HP126F3K, HP126FBH, HP126FSC, HP126FSH, HP126K, HP128F3B, HP12K, HP12KD, HPD1200, HPD1202, HPD1202KF, HPD12K-2, PS122K, PS122KB, PS12HAK, SS12, SX3000, SX3500, XD1200, XD1200K, XTC121&nbsp;</span><br><br><b>Black
                            &amp; Decker Impact Wrenches:<br></b><span>SX5000, XTC12IK, XTC12IKH&nbsp;</span><br><br><b>Black
                            &amp; Decker
                            Multi-Tools:<br></b><span>KC2000FK&nbsp;</span><br><b><br></b><b>Black &amp; Decker
                            Nailers:</b><br><span>BDBN1202 &nbsp;</span><b><br></b><b><br>Black
                            &amp; Decker
                            Screwdrivers:<br></b><span>HP9019K&nbsp;</span><b><br></b><b><br></b><span>and other 12V tools.</span><br><br><span>Best replacement for the following Black and Decker OEM battery part numbers: </span><br><span>HPB12, A12, A12EX, A12-XJ, A1712, B-8315, BD1204L, BD-1204L, BPT1047, FS120B, FS120BX, FSB12.</span>
                        </p>

                    </div>


                    <div role="tabpanel" class="tab-pane" id="tabs-3">

                        <ul>
                            <li>Chemistry: Ni-CD</li>
                            <li>Voltage: 12V</li>
                            <li>AmpHours: 2000mAh</li>
                            <li>Dimensions: 109.75x79.55x62.20mm</li>
                        </ul>

                    </div>


                    <div role="tabpanel" class="tab-pane" id="tabs-4">

                        <p>
                            <iframe src="//www.youtube.com/embed/QZd7015XaTQ" height="315" width="560"></iframe>
                        </p>
                    </div>


                    <div role="tabpanel" class="tab-pane" id="tab_review">
                        <div id="shopify-product-reviews" data-id="7680787139">
                            <style scoped="">

                                .spr-container {
                                    padding: 24px;
                                    border-color: #ECECEC;

                                }

                                .spr-review, .spr-form {
                                    border-color: #ECECEC;
                                }
                            </style>

                            <div class="spr-container">
                                <div class="spr-header">
                                    <h2 class="spr-header-title">Customer Reviews</h2>

                                    <div class="spr-summary" itemscope=""
                                         itemtype="http://data-vocabulary.org/Review-aggregate">
                                        <meta itemprop="itemreviewed" content="Coneco Product Sample">
                                        <meta itemprop="votes" content="1">

                                        <span itemprop="rating" itemscope=""
                                              itemtype="http://data-vocabulary.org/Rating"
                                              class="spr-starrating spr-summary-starrating">
        <meta itemprop="average" content="4.0">
        <meta itemprop="best" content="5">
        <meta itemprop="worst" content="1">
        <i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i
                                                class="spr-icon spr-icon-star" style=""></i><i
                                                class="spr-icon spr-icon-star" style=""></i><i
                                                class="spr-icon spr-icon-star-empty" style=""></i>
      </span>
                                        <span class="spr-summary-caption">


          <span class="spr-summary-actions-togglereviews">Based on 1 review</span>

      </span>
                                        <span class="spr-summary-actions">
        <a href="#" class="spr-summary-actions-newreview" onclick="SPR.toggleForm(7680787139);return false">Write a review</a>
      </span>
                                    </div>
                                </div>

                                <div class="spr-content">
                                    <div class="spr-form" id="form_7680787139" style="display: none">
                                        <form method="post" action="//productreviews.shopifycdn.com/api/reviews/create"
                                              id="new-review-form_7680787139" class="new-review-form"
                                              onsubmit="SPR.submitForm(this);return false;"><input type="hidden"
                                                                                                   name="review[rating]"><input
                                                type="hidden" name="product_id" value="7680787139">

                                            <h3 class="spr-form-title">Write a review</h3>


                                            <fieldset class="spr-form-contact">


                                                <div class="spr-form-contact-name">
                                                    <label class="spr-form-label"
                                                           for="review_author_7680787139">Name</label>
                                                    <input class="spr-form-input spr-form-input-text "
                                                           id="review_author_7680787139" type="text"
                                                           name="review[author]" value="" placeholder="Enter your name">
                                                </div>


                                                <div class="spr-form-contact-email">
                                                    <label class="spr-form-label"
                                                           for="review_email_7680787139">Email</label>
                                                    <input class="spr-form-input spr-form-input-email "
                                                           id="review_email_7680787139" type="email"
                                                           name="review[email]" value=""
                                                           placeholder="john.smith@example.com">
                                                </div>


                                            </fieldset>


                                            <fieldset class="spr-form-review">

                                                <div class="spr-form-review-rating">
                                                    <label class="spr-form-label" for="review[rating]">Rating</label>
                                                    <div class="spr-form-input spr-starrating ">
                                                        <a href="#" onclick="SPR.setRating(this);return false;"
                                                           class="spr-icon spr-icon-star spr-icon-star-empty"
                                                           data-value="1">&nbsp;</a>
                                                        <a href="#" onclick="SPR.setRating(this);return false;"
                                                           class="spr-icon spr-icon-star spr-icon-star-empty"
                                                           data-value="2">&nbsp;</a>
                                                        <a href="#" onclick="SPR.setRating(this);return false;"
                                                           class="spr-icon spr-icon-star spr-icon-star-empty"
                                                           data-value="3">&nbsp;</a>
                                                        <a href="#" onclick="SPR.setRating(this);return false;"
                                                           class="spr-icon spr-icon-star spr-icon-star-empty"
                                                           data-value="4">&nbsp;</a>
                                                        <a href="#" onclick="SPR.setRating(this);return false;"
                                                           class="spr-icon spr-icon-star spr-icon-star-empty"
                                                           data-value="5">&nbsp;</a>
                                                    </div>
                                                </div>

                                                <div class="spr-form-review-title">
                                                    <label class="spr-form-label" for="review_title_7680787139">Review
                                                        Title</label>
                                                    <input class="spr-form-input spr-form-input-text "
                                                           id="review_title_7680787139" type="text"
                                                           name="review[title]" value=""
                                                           placeholder="Give your review a title">
                                                </div>

                                                <div class="spr-form-review-body">
                                                    <label class="spr-form-label" for="review_body_7680787139">Body of
                                                        Review <span
                                                                class="spr-form-review-body-charactersremaining">(1500)</span></label>
                                                    <div class="spr-form-input">
                        <textarea class="spr-form-input spr-form-input-textarea " id="review_body_7680787139"
                                  data-product-id="7680787139" name="review[body]" rows="10"
                                  placeholder="Write your comments here"></textarea>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset class="spr-form-actions">
                                                <input type="submit"
                                                       class="spr-button spr-button-primary button button-primary btn btn-primary"
                                                       value="Submit Review">
                                            </fieldset>


                                        </form>
                                    </div>
                                    <div class="spr-reviews" id="reviews_7680787139">


                                        <div class="spr-review" id="spr-review-8935386">
                                            <div class="spr-review-header">
                    <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star"
                                                                                   style=""></i><i
                            class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star"
                                                                           style=""></i><i
                            class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star-empty"
                                                                           style=""></i></span>
                                                <h3 class="spr-review-header-title">TEST</h3>
                                                <span
                                                        class="spr-review-header-byline"><strong>JOE SMOE</strong> on <strong>Jan 01, 2017</strong></span>
                                            </div>

                                            <div class="spr-review-content">
                                                <p class="spr-review-content-body">TEST YYUUII GOOG</p>
                                            </div>


                                            <div class="spr-review-footer">
                                                <a href="#" class="spr-review-reportreview"
                                                   onclick="SPR.reportReview(8935386);return false"
                                                   id="report_8935386" data-msg="This review has been reported">Report
                                                    as Inappropriate</a>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
