<div id="sidebar" class=" left-column-container sidebar hidden-sm hidden-xs">

  <!-- Begin Categories -->


  <div class="sb-categories hidden-sm hidden-xs">
    <div class="sb-widget">


      <h4 class="sb-title">Categories</h4>

      <app-category-list></app-category-list>


    </div>
  </div>


  <!-- End Categories -->


  <!-- Begin Price Range -->


  <div class="price-range-slider">
    <div class="sb-widget">


      <h4 class="sb-title">Price Range</h4>


      <div class="price-range">
        <p>
          <label>Range:</label>
          <span type="text" id="amount" style="font-weight: bold;"><span class="min-val"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></span> - <span class="max-val"><span class="money" data-currency-usd="$1,000.00" data-currency="USD">$1,000.00</span></span></span>
        </p>

        <div id="range-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
          <div class="ui-slider-range ui-widget-header ui-corner-all" style="width: 100%; left: 0%;"></div>
          <div class="range-left"><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span></div>
          <div class="range-right"><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
          <div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div></div>
        <div id="slider"></div>
      </div>

    </div>
  </div>


  <!-- End Price Range -->


  <!-- Begin Banner -->


  <div class="sb-widget sb-banner hidden-xs hidden-sm">
    <img src="//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/sb_banner.jpg?3417794890851504925" alt="">
    <p>Wooden kitchen tools</p>
    <a href="/collections" class="sb-button">shop now</a>
  </div>


  <!-- End Banner -->


  <!-- Begin Featured Products -->


  <div class="sb-special-products hidden-xs hidden-sm">
    <div class="sb-widget">










      <h4 class="sb-title">Featured Products</h4>

     <!-- <div class="featured-list owl-carousel owl-theme owl-loaded owl-hidden">







        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-400px, 0px, 0px); transition: 0.25s; width: 700px;"><div class="owl-item cloned" style="width: 100px; margin-right: 0px;"><div class="row">
          <div class="sb-product-head col-sm-5 col-xs-4">
            <a href="/collections/birthday-gifts/products/freshkix-product-sample">
              <img src="//cdn.shopify.com/s/files/1/1402/6971/products/chair_2_1_small.jpg?v=1469433474" alt="Freshkix Product Sample">
            </a>
          </div>

          <div class="sb-product-content col-sm-7 col-xs-8">
            <div class="bp-content-inner">
              <a href="/collections/birthday-gifts/products/freshkix-product-sample">Freshkix Product Sample</a>

              <div class="sb-price">


                <span class="price-compare"> <span class="money" data-currency-usd="$150.00" data-currency="USD">$150.00</span></span>
                <span class="price-sale"><span class="money" data-currency-usd="$120.00" data-currency="USD">$120.00</span></span>


              </div>

            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 100px; margin-right: 0px;"><div class="row">
          <div class="sb-product-head col-sm-5 col-xs-4">
            <a href="/collections/birthday-gifts/products/georgeous-white-bag">
              <img src="//cdn.shopify.com/s/files/1/1402/6971/products/c0ES25vr2W_Perihelion_Chandelier0_small.jpg?v=1469433481" alt="Georgeous White Bag">
            </a>
          </div>

          <div class="sb-product-content col-sm-7 col-xs-8">
            <div class="bp-content-inner">
              <a href="/collections/birthday-gifts/products/georgeous-white-bag">Georgeous White Bag</a>

              <div class="sb-price">


        <span class="price">

          <span class="money" data-currency-usd="$149.99" data-currency="USD">$149.99</span>

        </span>


              </div>

            </div>
          </div>
        </div></div><div class="owl-item" style="width: 100px; margin-right: 0px;"><div class="row">
          <div class="sb-product-head col-sm-5 col-xs-4">
            <a href="/collections/birthday-gifts/products/aommodo-ligula">
              <img src="//cdn.shopify.com/s/files/1/1402/6971/products/chair_1_1-810x810_small.jpg?v=1469433463" alt="Freecof Product Sample">
            </a>
          </div>

          <div class="sb-product-content col-sm-7 col-xs-8">
            <div class="bp-content-inner">
              <a href="/collections/birthday-gifts/products/aommodo-ligula">Freecof Product Sample</a>

              <div class="sb-price">


        <span class="price">

          <span class="money" data-currency-usd="$450.00" data-currency="USD">$450.00</span>

        </span>


              </div>

            </div>
          </div>
        </div></div><div class="owl-item" style="width: 100px; margin-right: 0px;"><div class="row">
          <div class="sb-product-head col-sm-5 col-xs-4">
            <a href="/collections/birthday-gifts/products/freshkix-product-sample">
              <img src="//cdn.shopify.com/s/files/1/1402/6971/products/chair_2_1_small.jpg?v=1469433474" alt="Freshkix Product Sample">
            </a>
          </div>

          <div class="sb-product-content col-sm-7 col-xs-8">
            <div class="bp-content-inner">
              <a href="/collections/birthday-gifts/products/freshkix-product-sample">Freshkix Product Sample</a>

              <div class="sb-price">


                <span class="price-compare"> <span class="money" data-currency-usd="$150.00" data-currency="USD">$150.00</span></span>
                <span class="price-sale"><span class="money" data-currency-usd="$120.00" data-currency="USD">$120.00</span></span>


              </div>

            </div>
          </div>
        </div></div><div class="owl-item active" style="width: 100px; margin-right: 0px;"><div class="row">
          <div class="sb-product-head col-sm-5 col-xs-4">
            <a href="/collections/birthday-gifts/products/georgeous-white-bag">
              <img src="//cdn.shopify.com/s/files/1/1402/6971/products/c0ES25vr2W_Perihelion_Chandelier0_small.jpg?v=1469433481" alt="Georgeous White Bag">
            </a>
          </div>

          <div class="sb-product-content col-sm-7 col-xs-8">
            <div class="bp-content-inner">
              <a href="/collections/birthday-gifts/products/georgeous-white-bag">Georgeous White Bag</a>

              <div class="sb-price">


        <span class="price">

          <span class="money" data-currency-usd="$149.99" data-currency="USD">$149.99</span>

        </span>


              </div>

            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 100px; margin-right: 0px;"><div class="row">
          <div class="sb-product-head col-sm-5 col-xs-4">
            <a href="/collections/birthday-gifts/products/aommodo-ligula">
              <img src="//cdn.shopify.com/s/files/1/1402/6971/products/chair_1_1-810x810_small.jpg?v=1469433463" alt="Freecof Product Sample">
            </a>
          </div>

          <div class="sb-product-content col-sm-7 col-xs-8">
            <div class="bp-content-inner">
              <a href="/collections/birthday-gifts/products/aommodo-ligula">Freecof Product Sample</a>

              <div class="sb-price">


        <span class="price">

          <span class="money" data-currency-usd="$450.00" data-currency="USD">$450.00</span>

        </span>


              </div>

            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 100px; margin-right: 0px;"><div class="row">
          <div class="sb-product-head col-sm-5 col-xs-4">
            <a href="/collections/birthday-gifts/products/freshkix-product-sample">
              <img src="//cdn.shopify.com/s/files/1/1402/6971/products/chair_2_1_small.jpg?v=1469433474" alt="Freshkix Product Sample">
            </a>
          </div>

          <div class="sb-product-content col-sm-7 col-xs-8">
            <div class="bp-content-inner">
              <a href="/collections/birthday-gifts/products/freshkix-product-sample">Freshkix Product Sample</a>

              <div class="sb-price">


                <span class="price-compare"> <span class="money" data-currency-usd="$150.00" data-currency="USD">$150.00</span></span>
                <span class="price-sale"><span class="money" data-currency-usd="$120.00" data-currency="USD">$120.00</span></span>


              </div>

            </div>
          </div>
        </div></div></div></div><div class="owl-controls">
        <div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div>
          <div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style="display: none;">

      </div></div></div>-->



    </div>
  </div>


  <!-- End Featured Products -->

</div>
